name: quality

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  format:
    name: format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.7'

      - name: Check formatting
        run: |
          make format
          git diff --exit-code

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.7'

      - name: Run linter
        uses: golangci/golangci-lint-action@v7
